
/*CSS Basiques*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
    font-family: var(--font-txt);
    font-size: var(--texte);
    font-weight: 600;
    line-height: 1.6;
    background-color: var(--blanc);
    color: var(--bleu-fonce);
    text-align: left;
}
h1 {
    font-size: var(--titrepage);
    background-clip: padding-box;
    background: -webkit-linear-gradient(360deg,rgba(40, 53, 219, 1),rgba(249, 149, 237, 1));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
    text-align: center;
    padding-bottom: var(--espsection);
    line-height: 1.10;
    padding: 0;
    margin-left: 31px;
    margin-right: 31px;
}
h2 {
    font-size: var(--soustitre);
    color: var(--bleu);
    padding-left: var(--espsection);
    padding-bottom: var(--esptxt);
    line-height: 1;
    padding-right: var(--espsection);
}
p {
    padding-bottom: var(--esptxt);
    margin: var(--espmarge);
    color: var(--bleu-fonce);
}
li {
    margin-right: var(--espmarge);
}
blockquote {
    font-size: var(--citation);
    color: var(--violet);
    text-align: center;
    font-weight: 500;
    font-style: italic;
    padding-bottom: var(--esptxt);
}
div {
    z-index: -1;
}

/*Header*/
p.header__titresite--txt {
    font-weight: 500;
    padding-bottom: 0;
    font-family: var(--font-title);
    font-size: 2em;
    background-clip: content-box;
    background: -webkit-linear-gradient(360deg,rgba(40, 53, 219, 1),rgba(249, 149, 237, 1));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}
a.header__titresite--link:link {
    text-decoration: none; 
}

/*Accueil*/
h1.accueil__titre {
    font-family: var(--font-title);
    font-size: var(--accueil);
    font-weight: 500;
    padding-top: 32px;
}
p.acceuil__soustitre {
    font-family: var(--soustitre);
    text-align: center;
    font-size: var(--soustitre);
    color: var(--bleu-fonce);
    padding-bottom: var(--esptxt);
}
h2.boutonarticle__texte{
    margin-top: 20px;
}
.tweet{
    border: solid;
    max-width: 80%;
    margin: auto;
}
.introarticle{
    text-align: center;
    padding-bottom: 0;
}
p.txtdeco{
    padding-bottom: 120px;
}
.bureau{
    margin-top: -220px;
}
.boutonarticle{
    margin:0;
}
.pourpadding{
    margin-top: var(--esptxt);
}
.accfooter{
    margin-top: var(--esptxt);
}

/*Menu*/

/*Articles*/
.intropage__image{
    margin-top: 78px;
}
.introduction{
    padding-top: var(--esptxt)
}

/*Suppression des styles*/
.menu__liste {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu__liste--link {
    text-decoration:none
}
button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
