img{
    max-width: 100%;
    height: auto;
}

figure{
    margin: 0;
}

figcaption{
    font-size: var(--citation);
    color: var(--violet);
    font-style: italic;
    text-align: center;
    padding-bottom: var(--esptxt);
    font-weight: 500;
}

.imagearticle {
    width: 80%;
    display: block;
    margin: auto;
}

.imgvericale {
    width: 80%;
    display: flex;
    margin: auto;
}

.duotone img {
    filter: grayscale(100%);
}