
/*CSS du footer du menu*/
.footermenu {
    display: flex;
    height: 100px;
    justify-content: space-between;
    background-color: #6d46bbe6;
    clip-path: ellipse(120% 100% at 50% 100%);
}
.footermenu__txt {
    color: var(--blanc);
    line-height: 1.5;
    text-align: center; 
}

/*Boutons de langue*/
.menu__langue {
    display:flex;
    margin: auto;
    gap: 55px;
}

/*Animation du menu et display*/
.menu{
    background-color: var(--blanc);
    overflow:hidden;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right : 0;
    transition: all .4s ease-in-out;
    z-index: 2;
    transform: translateX(100vw);
}
.menuopen .menu {
    transform: translateX(0);
}
.menuopen {
    overflow: hidden;
}



