

.footermenu {
    display: flex;
    height: 100px;
    justify-content: space-between;
    background-color: var(--bleu-fonce);
    opacity: 80%;
}
.footermenu__txt {
    color: var(--blanc);
    line-height: 1.5;
    text-align: center;
    
}

.header__button {
    background-color: var(--blanc);
    margin-top: 20px;
    margin-right: 20px;
}

.menu__langue {
    display:flex;
    margin: auto;
    gap: 55px;
    
}

.menu {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right : 0;
    justify-content: space-between;
    background-color: var(--blanc);
    font-size: var(--texte);
    transition: all .4s ease-in-out;
}




